.container {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(122, 122, 214, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1{
  color:white;
}
.accordion-section {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
  color:#f53b57;
}

.accordion-content.show {
  display: block;
}
